﻿@model Inspinia_MVC5.Models.Admin

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>Index</h2>
		<ol class="breadcrumb">
			<li>
				@Html.ActionLink("List", "Index")
			</li>
			<li class="active">
				<strong>Index</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-8">
		<div class="title-action">
			@Html.ActionLink("Back to List", "List", null, new { @class = "btn btn-primary"})
		</div>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-md-offset-3 col-md-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>Index Admin</h5>
				</div>
				<div class="ibox-content">

				@using (Html.BeginForm("Create", "Admin",FormMethod.Post))
				{
	@Html.AntiForgeryToken()
	
	<div class="form-horizontal">
		@Html.ValidationSummary(true)

		<div class="form-group">
			@Html.LabelFor(model => model.admin_name, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.admin_name)
				@Html.ValidationMessageFor(model => model.admin_name)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.admin_email, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.admin_email)
				@Html.ValidationMessageFor(model => model.admin_email)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.admin_phone, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.admin_phone)
				@Html.ValidationMessageFor(model => model.admin_phone)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.admin_cnic, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.admin_cnic)
				@Html.ValidationMessageFor(model => model.admin_cnic)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.password, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.password)
				@Html.ValidationMessageFor(model => model.password)
			</div>
		</div>

		<div class="form-group">
			@Html.LabelFor(model => model.cpassword, new { @class = "control-label col-md-2" })
			<div class="col-md-10">
				@Html.EditorFor(model => model.cpassword)
				@Html.ValidationMessageFor(model => model.cpassword)
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Create" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
			</div>
		</div>
	</div>
}

				</div>
			</div>
		</div>
	</div>
 </div>

 
