﻿@model IEnumerable<Inspinia_MVC5.Models.Admin>

@{
	ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-4">
		<h2>List</h2>
		<ol class="breadcrumb">
			<li class="active">
				<strong>Admin</strong>
			</li>
		</ol>
	</div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		<div class="col-lg-12">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>List of Admin</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Index", null, new { @class = "btn btn-primary btn-xs"})
					</div>
				</div>
				<div class="ibox-content">

<table class="table table-striped">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.admin_name)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.admin_email)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.admin_phone)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.admin_cnic)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.password)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.cpassword)
		</th>
		<th></th>
	</tr>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.admin_name)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.admin_email)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.admin_phone)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.admin_cnic)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.password)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.cpassword)
		</td>
		<td>
			@Html.ActionLink("Details", "Details", new { id=item.admin_id }, new { @class = "btn btn-primary btn-sm"})
			@Html.ActionLink("Edit", "Edit", new { id=item.admin_id }, new { @class = "btn btn-white btn-sm"})
			@Html.ActionLink("Delete", "Delete", new { id=item.admin_id }, new { @class = "btn btn-white btn-sm"})
		</td>
	</tr>
}

</table>

				</div>
			</div>
		</div>
	</div>
 </div>



