﻿<div class="footer">
    <div class="pull-right">
        <a href="#"><strong>Waseem Younas</strong></a>
    </div>
    <div>
        Copyright<strong> Exite Online shop</strong> <sup>&copy;</sup> 2017-2020
    </div>
</div>
