﻿<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="Maxus Store | Maxus-Store | maxus" />
    <meta name="keywords" content="web design, web development, freelance, css, html, css3, html5, javascript, jquery" />
    <meta name="author" content="T.Linh Web Developer" />
    <title>Home</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&amp;subset=latin-ext" rel="stylesheet">

    <!-- // CSS -->
    <link href="~/Content/Shop/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/css/jquery.sidr.dark.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/css/main.css">

    <!-- // REVOLUTION FONTS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

    <!-- // REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/revolution/css/settings.css">

    <!-- // REVOLUTION LAYERS STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/revolution/css/layers.css">

    <!-- // REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="~/Content/Shop/revolution/css/navigation.css">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link href="~/Content/cartstyle/reset.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/cartstyle/style.css"> <!-- Resource style -->


</head>

<body>
    @RenderBody()

   



    <div class="cd-cart-container empty">
        <a href="#0" class="cd-cart-trigger">
            Cart
            <ul class="count">
                <!-- cart items count -->
                <li>0</li>
                <li>0</li>
            </ul> <!-- .count -->
        </a>

        <div class="cd-cart">
            <div class="wrapper">
                <header>
                    <h2>Cart</h2>
                    <span class="undo">Item removed. <a href="#0">Undo</a></span>
                </header>

                <div class="body">
                    <ul>
                        <!-- products added to the cart will be inserted here using JavaScript -->
                    </ul>
                </div>

                <footer>
                    <a href="#0" class="checkout btn"><em>Checkout - $<span>0</span></em></a>
                </footer>
            </div>
        </div> <!-- .cd-cart -->
    </div> <!-- cd-cart-container -->
    </div>

    <!-- JS -->
    <!-- // Modernizr and jQuery -->
    <script src="~/Content/Shop/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/Content/Shop/js/vendor/jquery-1.12.0.min.js"></script>
    <script src="~/Content/Shop/js/vendor/fastclick.js"></script>
    <script>
    if (!window.jQuery) document.write('< script src= "~/Content/cartstyle/js/jquery-3.0.0.min.js" ></script >');
    </script>
    <script src="~/Content/cartstyle/js/main.js"></script> <!-- Resource jQuery -->


    <script src="~/Content/Shop/js/vendor/jff-vendor.min.js"></script>
    <script src="~/Content/Shop/js/vendor/select2.full.min.js"></script>
    <script src="~/Content/Shop/js/vendor/jquery.mCustomScrollbar.js"></script>

    <script src="~/Content/Shop/js/plugins/jff-utils.js"></script>
    <script src="~/Content/Shop/js/plugins/jquery-ui.min.js"></script>
    <script src="~/Content/Shop/js/plugins/bootstrap.min.js"></script>

    <script src="~/Content/Shop/js/plugins/slick.min.js"></script>
    <script src="~/Content/Shop/js/plugins/jquery.elevatezoom.js"></script>
    <script src="~/Content/Shop/js/plugins/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Shop/js/plugins/masonry.pkgd.min.js"></script>
    <script src="~/Content/Shop/js/plugins/isotope.pkgd.min.js"></script>
    <script src="~/Content/Shop/js/plugins/packery.pkgd.min.js"></script>
    <script src="~/Content/Shop/js/plugins/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Shop/js/plugins/waves.min.js"></script>
    <script src="~/Content/Shop/js/plugins/jquery.sidr.min.js"></script>

    <script src="~/Content/Shop/js/main.js"></script>

    <!-- REVOLUTION JS FILES -->
    <script type="text/javascript" src="~/Content/Shop/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="~/Content/Shop/revolution/js/jquery.themepunch.revolution.min.js"></script>




</body>

</html>