﻿<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="~/Images/profile_small.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">@Session["name"]</strong>
                            </span> 
                        </span>
                    </a>
                </div>
                <div class="logo-element">
                    EX+
                </div>
            </li>
            <li class="@Html.IsSelected(controller: "Dashboards")">
                <a href="@Url.Action("Index", "Home")"><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.mailbox">Dashboard</span></a>
            </li>
            <li class="@Html.IsSelected(controller: "Admin")">
                <a href="#"><i class="fa fa-user"></i> <span class="nav-label" data-i18n="nav.ecommerce">Admin</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Index", "Admin")">Add Admin</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("List", "Admin")">View Admin</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("create","Employ")">Add Employee</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("index","Employ")">View Employee</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Salary","Employ")">Employee Salary</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Salary","Employ")">Employee Salary Detail</a></li>
                </ul>
            </li>

            <li class="@Html.IsSelected(controller: "Product")">
                <a href="#"><i class="fa fa-pencil-square-o"></i> <span class="nav-label" data-i18n="nav.ecommerce">Manage Products</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Create", "Segments")">Add Segment</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Create", "Categories")">Add Category</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Create", "Sub_Category")">Add Sub-Category</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Create", "Brands")">Add Brand</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Create", "Suppliers")">Add Supplier</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Index", "Product")">Add Product</a></li>
                    <li class="@Html.IsSelected(action: "ProductsList")"><a href="@Url.Action("listOfProduct", "Product")">Products list</a></li>
                    <li class="@Html.IsSelected(action: "ProductsList")"><a href="@Url.Action("index", "Suppliers")">Supplier list</a></li>
                    <li class="@Html.IsSelected(action: "ProductEdit")"><a href="@Url.Action("index", "Requests")">Requested Product</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Deals")">
                <a href="#"><i class="fa fa-tags"></i> <span class="nav-label" data-i18n="nav.ecommerce">Deals & Offers</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Deals", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("create","Deals")">Add Deals</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("index","Deals")">Deals List</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Orders")">
                <a href="#"><i class="fa fa-fax"></i> <span class="nav-label" data-i18n="nav.ecommerce">Manage Orders</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "orders", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("index", "Orders")">Orders</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("status", "Orders")">Orders Status</a></li>

                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Payments")">
                <a href="#"><i class="fa fa-credit-card"></i> <span class="nav-label" data-i18n="nav.ecommerce">Manage Payments</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("index", "Payments")">Payment List</a></li>

                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Customers")">
                <a href="#"><i class="fa fa-user-secret"></i> <span class="nav-label" data-i18n="nav.ecommerce">Manage Customers</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("index", "Customers")">Customers List</a></li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: "Ecommerce")">
                <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label" data-i18n="nav.ecommerce">News Letter</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Ecommerce", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("ProductEdit", "Forms")">Subscribers List</a></li>
                </ul>
            </li>

           
            <li class="@Html.IsSelected(controller: "Forms")">
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label" data-i18n="nav.forms">Manage Staff</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Forms", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "BasicFroms")"><a href="@Url.Action("BasicFroms", "Forms")">Basic form</a></li>
                    <li class="@Html.IsSelected(action: "Advanced")"><a href="@Url.Action("Advanced", "Forms")">Advanced Plugins</a></li>
                    <li class="@Html.IsSelected(action: "Wizard")"><a href="@Url.Action("Wizard", "Forms")">Wizard</a></li>
                    <li class="@Html.IsSelected(action: "FileUpload")"><a href="@Url.Action("FileUpload", "Forms")">File Upload</a></li>
                    <li class="@Html.IsSelected(action: "TextEditor")"><a href="@Url.Action("TextEditor", "Forms")">Text Editor</a></li>
                    <li class="@Html.IsSelected(action: "Markdown")"><a href="@Url.Action("Markdown", "Forms")">Markdown</a></li>
                </ul>
            </li>

            

            <li class="@Html.IsSelected(controller: "Tables")">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label" data-i18n="nav.tables">Product Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Tables", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "StaticTables")"><a href="@Url.Action("StaticTables", "Tables")">Static Tables</a></li>
                    <li class="@Html.IsSelected(action: "DataTables")"><a href="@Url.Action("DataTables", "Tables")">Data Tables</a></li>
                    <li class="@Html.IsSelected(action: "FooTables")"><a href="@Url.Action("FooTables", "Tables")">Foo Table</a></li>
                    <li class="@Html.IsSelected(action: "jqGrid")"><a href="@Url.Action("jqGrid", "Tables")">jqGrid</a></li>
                </ul>
            </li>
            
            <li class="@Html.IsSelected(controller: "Metrics")">
                <a href="@Url.Action("Index", "Metrics")"><i class="fa fa-pie-chart"></i> <span class="nav-label" data-i18n="nav.metrics">Metrics</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: "Widgets")">
                <a href="@Url.Action("Index", "Widgets")"><i class="fa fa-flask"></i> <span class="nav-label" data-i18n="nav.widgets">Widgets</span> </a>
            </li>
            
            
            <li class="@Html.IsSelected(controller: "Pages")">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label" data-i18n="nav.otherpages">Other Pages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse @Html.IsSelected(controller: "Pages", cssClass: "in")">
                    <li class="@Html.IsSelected(action: "SearchResults")"><a href="@Url.Action("SearchResults", "Pages")">Search results</a></li>
                    <li class="@Html.IsSelected(action: "LockScreen")"><a href="@Url.Action("LockScreen", "Pages")">Lockscreen</a></li>
                    <li class="@Html.IsSelected(action: "Invoice")"><a href="@Url.Action("Invoice", "Pages")">Invoice</a></li>
                    <li class="@Html.IsSelected(action: "NotFoundError")"><a href="@Url.Action("NotFoundError", "Pages")">404 Page</a></li>
                    <li class="@Html.IsSelected(action: "EmptyPage")"><a href="@Url.Action("EmptyPage", "Pages")">Empty page</a></li>
                </ul>
            </li>
            <li class="special_link @Html.IsSelected(controller: " Landing")">
                <a href="@Url.Action("Index", "Landing")"><i class="fa fa-star"></i> <span class="nav-label" data-i18n="nav.landing">Landing page</span></a>
            </li>
        </ul>
    </div>
</nav>