﻿
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_landingLayout.cshtml";
}
@using Inspinia_MVC5.Models;
<div id="page" class="site">
    <div id="go_top"></div>
    <a class="skip-link sr-only" href="#main">Skip to content</a>



    <!-- HEADER 3_2 -->



    <div class="header-top no-border pd-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="header-top__item">
                        <a href="index.html">
                            <i class="maxus maxus-home"></i>
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-location-pin"></i>
                            <span>USA</span>
                        </a>
                        <ul class="dropdown-menu maxus-location__list">
                            <li>
                                <a href="#">
                                    <span>USA</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>EUR</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>VND</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-globes"></i>
                            <span>English</span>
                        </a>
                        <ul class="dropdown-menu maxus-globes__list">
                            <li>
                                <a href="#">
                                    <span>English</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>France</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Vietnam</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="text-right">
                        @if (Session["cust_name"] == null)
                        {
                        <div class="header-top__item">
                            <a href="@Url.Action("Register", "Landing")">
                                <i class="maxus maxus-user"></i>
                                <span>Log in/ Register</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="header-top__item">
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>@Session["cust_name"]</span>
                            </a>
                        </div>
                        }
                        <div class="header-top__item">
                            <div class="maxus-bags ml-0 mr-30">
                                <a href="#" data-toggle="dropdown">
                                    <span class="maxus-bags__quantity">@ViewBag.items</span>
                                    <i class="maxus maxus-shopping-bag"></i>
                                </a>

                                <ul class="dropdown-menu maxus-bags__list">
                                    <li>
                                        <div class="maxus-bags__wrap" data-init="scrollbar">
                                            @if (ViewBag.cartList == null)
                                            {
                                            <div class="maxus-bags__item clearfix">
                                                <p class="text-danger">There is no item.</p>
                                            </div>
                                            }
                                            else
                                            {
                                                foreach (CartItem item in ViewBag.cartList)
                                                {
                                                <div class="maxus-bags__item clearfix">
                                                    <div class="maxus-bags__img">
                                                        <a href="#">
                                                            <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                                        </a>
                                                    </div>
                                                    <div class="maxus-bags__info">
                                                        <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                                        <p class="maxus-bags__price">
                                                            <ins>
                                                                <span class="maxus-bags__amount">
                                                                    <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                                </span>
                                                            </ins>
                                                        </p>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </li>
                                    <li class="text-center">
                                        <div class="maxus-bags__total">
                                            <p class="maxus-bags__price">
                                                <label class="font-300">Total:</label>
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                                    </span>
                                                </ins>
                                            </p>
                                            <p>
                                                <a href="@Url.Action("view_cart","Landing",new { id=ViewBag.id})" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                                <a href="#" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--M E N U-->
    <div class="header-desktop">
        <nav class="navbar navbar--category navbar--category-search ">
            <div class="container">
                <div class="navbar__relative">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="navbar__item maxus-logo">
                                <a href="index.html">
                                    <h2 style="color:#0026ff; font-weight:bolder;">Exite</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-offset-6 col-md-4">
                            <div class="text-right">
                                <div class="navbar__item maxus-search-form">
                                    <form action="#">
                                        <input type="text" placeholder="I'm shopping for..." required>
                                        <button class="btn-search darkseagreen-color">
                                            <i class="maxus maxus-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar__category navbar__category--images">
                        <ul class="clearfix">
                            <li class="active">
                                <a href="#">
                                    <span>Categories</span>
                                </a>



                                <div class="navbar__sub-category-icon">
                                    <ul class="maxus-icon-wrapper clearfix">
                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-windown"></i></a>
                                            <h4 class="font-300"><a href="#">Home decor</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair"></i></a>
                                            <h4 class="font-300"><a href="#">Baby &amp; Kids</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-bottle"></i></a>
                                            <h4 class="font-300"><a href="#">Accessories</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-table"></i></a>
                                            <h4 class="font-300"><a href="#">Brands</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair-2"></i></a>
                                            <h4 class="font-300"><a href="#">Office</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting"></i></a>
                                            <h4 class="font-300"><a href="#">Lighting</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting-2"></i></a>
                                            <h4 class="font-300"><a href="#">Ideas &amp; Advice</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-shelving"></i></a>
                                            <h4 class="font-300"><a href="#">Shelving</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-coat-stand"></i></a>
                                            <h4 class="font-300"><a href="#">Coat stand</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-armchair"></i></a>
                                            <h4 class="font-300"><a href="#">Armchair</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-wardrobe"></i></a>
                                            <h4 class="font-300"><a href="#">Wardrobe</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lamp"></i></a>
                                            <h4 class="font-300"><a href="#">Lamp</a></h4>
                                        </li>
                                    </ul>
                                    <!-- .maxus-icon -->
                                </div>








                            </li>
                            <li>
                                @Html.ActionLink("Shop", "Shop", "Landing")
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("CheckOut", "view_cart", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("About", "About", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("Contact", "ContactUs", "Landing")
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <!-- SLIDER -->
    <section>
        <div class="mb-20">
            @*<div class="maxus-slider">
                    <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
                    <div id="rev_slider" class="rev_slider" data-version="5.1.1RC" data-slider-layout="fullwidth" data-full-screen-offset="70" data-arrows="true" data-style="zeus">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/6.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/16.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>

                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/7.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/22.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>
                        </ul>
                    </div>
                </div>*@

        </div>
    </section>



    <div class="header-mobile">
        <nav class="navbar-mobile clearfix" data-spy="affix" data-offset-top="1">

            <div class="navbar-mobile__item">

                <!-- LOGO -->
                <div class="navbar-mobile__logo">
                    <a href="index.html"><h2 style="color:#0026ff; font-weight:bolder;">ExiteOnlineShop</h2></a>
                </div>
            </div>

            <div class="navbar-mobile__item text-right">

                <!-- SEARCH BUTTON -->
                <div class="navbar-mobile__search">
                    <a href="#search-full" data-init="toggleBox" data-togglebox-type="search">
                        <i class="maxus maxus-search"></i>
                    </a>
                </div>

                <!-- SHOPPING BAG -->
                <div class="navbar-mobile__cart maxus-bags">
                    <a href="#" data-toggle="dropdown">
                        <span class="maxus-bags__quantity">@ViewBag.items</span>
                        <i class="maxus maxus-shopping-bag"></i>
                    </a>

                    <ul class="dropdown-menu maxus-bags__list">
                        <li>
                            <div class="maxus-bags__wrap" data-init="scrollbar">
                                @if (ViewBag.cartList == null)
                                {
                                <div class="maxus-bags__item clearfix">
                                    <p class="text-danger">There is no item.</p>
                                </div>
                                }
                                else
                                {
                                    foreach (CartItem item in ViewBag.cartList)
                                    {
                                    <div class="maxus-bags__item clearfix">
                                        <div class="maxus-bags__img">
                                            <a href="#">
                                                <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                            </a>
                                        </div>
                                        <div class="maxus-bags__info">
                                            <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                            <p class="maxus-bags__price">
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                    </span>
                                                </ins>
                                            </p>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="maxus-bags__total">
                                <p class="maxus-bags__price">
                                    <label class="font-300">Total:</label>
                                    <ins>
                                        <span class="maxus-bags__amount">
                                            <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                        </span>
                                    </ins>
                                </p>
                                <p>
                                    <a href="shop-cart-1.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                    <a href="shop-checkout.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- PROFILE -->
                <div class="navbar-mobile__profile maxus-profile">
                    <a href="#" data-toggle="dropdown">
                        <i class="maxus maxus-user"></i>
                    </a>

                    <ul class="dropdown-menu maxus-profile__list">
                        <li>
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-wishlist.html">
                                <i class="maxus maxus-wishlist"></i>
                                <span>Favorites</span>
                                <span class="maxus-wishlist-quantity">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-my-account.html">
                                <i class="maxus maxus-package"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-settings"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-power"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- MENU BUTTON -->
                <div class="navbar-mobile__control">
                    <a href="#sidr-menu" class="navbar-mobile__buton-menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>

            <!-- BOX NAVBAR MOBILE CONTROLS -->
            <div id="navbar-main" class="hidden">
                <header>
                    <span class="title-menu">Menu</span>
                    <a href="#sidr-menu" class="close-menu">&times;</a>
                </header>










                <ul class="clearfix">





                    <li>
                        <a href="index.html">



                            <span>Home</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="index-2.html">Home 2</a>
                                </li>



                                <li>
                                    <a href="index-3_1.html">Home 3 - Categories Image</a>
                                </li>



                                <li>
                                    <a href="index-3_2.html">Home 3 - Categories Icon</a>
                                </li>



                                <li>
                                    <a href="index-4.html">Home 4</a>
                                </li>



                                <li>
                                    <a href="index-5.html">Home 5</a>
                                </li>



                                <li>
                                    <a href="index-6.html">Home 6</a>
                                </li>



                                <li>
                                    <a href="index-7.html">Home 7</a>
                                </li>



                                <li>
                                    <a href="index-8.html">Home 8</a>
                                </li>



                                <li>
                                    <a href="index-9.html">Home 9</a>
                                </li>



                                <li>
                                    <a href="index-10.html">Home 10</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Shop</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="shop-grid.html">Shop Grid</a>
                                </li>



                                <li>
                                    <a href="shop-list.html">Shop List</a>
                                </li>



                                <li>
                                    <a href="shop-grid-2-column.html">Shop Grid 2 Column</a>
                                </li>



                                <li>
                                    <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                </li>



                                <li>
                                    <a href="shop-fulltech.html">Shop Tech</a>
                                </li>



                                <li>
                                    <a href="shop-fullfashion.html">Shop Fashion</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech.html">Shop Detail Tech</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech-2.html">Shop Detail Tech 2</a>
                                </li>



                                <li>
                                    <a href="shop-detail-decor.html">Shop Detail Decor</a>
                                </li>



                                <li>
                                    <a href="shop-detail-fashion.html">Shop Detail Fashion</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="shop-fulltech.html">



                            <span>Categories</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="#">Laptop</a>
                                </li>



                                <li>
                                    <a href="#">Smartphones</a>
                                </li>



                                <li>
                                    <a href="#">Headphones</a>
                                </li>



                                <li>
                                    <a href="#">Speakers</a>
                                </li>



                                <li>
                                    <a href="#">Mouse & Keyboards</a>
                                </li>



                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">



                            <span class="menu__label">HOT</span>



                            <span>Sale off</span>
                        </a>
                    </li>







                    <li>
                        <a href="collection.html">



                            <span>Collection</span>
                        </a>
                    </li>







                    <li>
                        <a href="about.html">



                            <span>About</span>
                        </a>
                    </li>







                    <li>
                        <a href="#">



                            <span>Pages</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="compare.html">Compare</a>
                                </li>



                                <li>
                                    <a href="404.html">Error 404</a>
                                </li>



                                <li>
                                    <a href="shop-account.html">Shop Account</a>
                                </li>



                                <li>
                                    <a href="shop-my-account.html">Shop My Account</a>
                                </li>



                                <li>
                                    <a href="shop-billing-detail.html">Shop Billing Detail</a>
                                </li>



                                <li>
                                    <a href="shop-wishlist.html">Shop Wishlist</a>
                                </li>



                                <li>
                                    <a href="shop-cart-1.html">Shopping Cart 1</a>
                                </li>



                                <li>
                                    <a href="shop-cart-2.html">Shopping Cart 2</a>
                                </li>



                                <li>
                                    <a href="testimonials.html">Testimonials</a>
                                </li>



                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Blog</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="news-1.html">Blog style 1</a>
                                </li>



                                <li>
                                    <a href="news-2.html">Blog style 2</a>
                                </li>



                                <li>
                                    <a href="news-single-1.html">Single</a>
                                </li>



                                <li>
                                    <a href="news-single-2.html">Single sidebar right</a>
                                </li>



                                <li>
                                    <a href="news-single-3.html">Single sidebar left</a>
                                </li>



                                <li>
                                    <a href="news-single-4.html">Single gallery</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="contact.html">



                            <span>Contact</span>
                        </a>
                    </li>





                </ul>


            </div>

        </nav>
    </div>






    <!-- PAGE TITLE -->
    <section>
        <div class="container">
            <div class="pt-65 pb-30">
                <div class="breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="index.html" title="Home">Home</a>
                        </li>


                        <li class="trail-item trail-end"><span>About</span></li>


                    </ul>
                </div>
                <!-- /.breadcrumbs -->

            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section>
        <div class="mb-100">
            <div class="maxus-about">
                <div class="maxus-about__wrap clearfix">
                    <div class="maxus-about__big-img">
                        <img src="img-demo/about/1.jpg" alt="About Image">
                        <div class="maxus-about__info">
                            <span class="maxus-about__overlay primary-bg-color"></span>
                            <p class="maxus-about__image"><img src="img/logo/logo_white.png" alt="About Image"></p>
                            <h1 class="maxus-about__title font-300">Simplicity of creativity and modern development</h1>
                            <p class="maxus-about__meta">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi...</p>
                        </div>
                    </div>
                </div>
                <div class="maxus-about__content">
                    <div class="container">
                        <div class="row mb-100">
                            <div class="col-md-8 col-lg-7 col-md-offset-2">
                                <p class="maxus-about__title-box">About</p>
                                <p class="maxus-about__desc font-600 fz-20">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 col-md-offset-2">
                                <div class="maxus-about__item">
                                    <p class="maxus-about__title-box">Vision</p>
                                    <div class="maxus-about__desc">
                                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p><br />
                                        <p>
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                                            passages, and more recently with desktop publishing software like Aldus PageMaker including versions...
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="maxus-about__item">
                                    <p class="maxus-about__title-box">Mission</p>
                                    <div class="maxus-about__desc">
                                        <p>This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..".</p><br />
                                        <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.</p><br />
                                        <p>Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English version.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- TESTIMONIAL -->
    <section>
        <div class="mb-100">
            <div class="maxus-customersay maxus-customer--left  " data-init="parallax" data-parallax-image="img-demo/customersay/2.jpg">
                <div class="maxus-customersay__container container maxus-slick-arrows-standard clearfix" data-init="slick" data-autoplay="false" data-fade="false" data-breakpoints='{"lg": 1, "md": 1, "sm": 1, "ss": 1, "xs": 1}'>


                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">1. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>

                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">2. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>

                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">3. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>

                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">4. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>

                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">5. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>

                    <div class="maxus-customersay__item maxus-customersay__item--full text-center text-white">
                        <div class="maxus-customersay__wrap">
                            <p class="maxus-customersay__info font-300 fz-60">6. Any sufficiently advanced technology is indistinguishable from magic.</p>



                            <div class="maxus-customersay__avatar pl-0">
                                <p class="maxus-customersay__name">Chou Jang Hoang</p>
                                <p class="maxus-customersay__country">from Vietnam</p>
                            </div>



                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>

    <!-- TEAMS -->
    <section>
        <div class="pb-185">
            <div class="container">
                <div class="maxus-team">
                    <div class="maxus-team__title">We are Maxus!</div>
                    <div class="maxus-team__content">
                        <div class="row">
                            <div class="maxus-team__wrap" data-init="slick" data-fade="false" data-autoplay="false" data-breakpoints='{"lg": 4, "md": 4, "sm": 2, "ss": 2, "xs": 1}'>


                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/1.jpg" alt="pavel habara">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Founder, CEO</p>
                                            <p class="maxus-team__name text-uppercase">pavel habara</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:pavel@gmail.com" target="_blank">pavel@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/2.jpg" alt="angelina vasnetzova">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Art Director, Designer</p>
                                            <p class="maxus-team__name text-uppercase">angelina vasnetzova</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:angelina@gmail.com" target="_blank">angelina@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/3.jpg" alt="peter ivanov">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Developer</p>
                                            <p class="maxus-team__name text-uppercase">peter ivanov</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:peter_ivanow@gmail.com" target="_blank">peter_ivanow@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/4.jpg" alt="Shival - k">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Developer</p>
                                            <p class="maxus-team__name text-uppercase">Shival - k</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:Shival@gmail.com" target="_blank">Shival@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/1.jpg" alt="Nana Lang">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Art Director, Designer</p>
                                            <p class="maxus-team__name text-uppercase">Nana Lang</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:nana@gmail.com" target="_blank">nana@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/2.jpg" alt="Elena pertrova">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Project manager</p>
                                            <p class="maxus-team__name text-uppercase">Elena pertrova</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:elena@gmail.com" target="_blank">elena@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/3.jpg" alt="peter paker">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Developer</p>
                                            <p class="maxus-team__name text-uppercase">peter paker</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:peter_paker@gmail.com" target="_blank">peter_paker@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-ss-6 col-sm-6 col-md-3">
                                    <div class="maxus-team__item">
                                        <div class="maxus-team__img">
                                            <img src="img-demo/teams/4.jpg" alt="Stee Mod">
                                        </div>
                                        <div class="maxus-team__info">
                                            <p class="maxus-team__job">Art Director, Designer</p>
                                            <p class="maxus-team__name text-uppercase">Stee Mod</p>
                                            <p class="maxus-team__email">
                                                <a href="mailto:stee@gmail.com" target="_blank">stee@gmail.com</a>
                                            </p>
                                            <p class="maxus-team__phone">
                                                <a href="tel:0123456789">0123456789</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- BRAND -->
    <section>
        <div class="mb-30">
            <div class="clearfix">
                <div class="maxus-brand " data-init="slick" data-fade="false" data-breakpoints='{"lg": 6, "md": 4, "sm": 3, "xs": 1}'>


                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/1.png" alt="Image brand"></a>
                        </div>
                    </div>

                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/2.png" alt="Image brand"></a>
                        </div>
                    </div>

                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/3.png" alt="Image brand"></a>
                        </div>
                    </div>

                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/4.png" alt="Image brand"></a>
                        </div>
                    </div>

                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/5.png" alt="Image brand"></a>
                        </div>
                    </div>

                    <div class="maxus-brand__item">
                        <div class="maxus-brand__wrap">
                            <a href="#" target="_blank"><img src="img-demo/brand/6.png" alt="Image brand"></a>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </section>

