﻿
@{
    ViewBag.Title = "ContactUs";
    Layout = "~/Views/Shared/_landingLayout.cshtml";
}
@using Inspinia_MVC5.Models;
<div id="page" class="site">
    <div id="go_top"></div>
    <a class="skip-link sr-only" href="#main">Skip to content</a>



    <!-- HEADER 3_2 -->



    <div class="header-top no-border pd-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="header-top__item">
                        <a href="index.html">
                            <i class="maxus maxus-home"></i>
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-location-pin"></i>
                            <span>USA</span>
                        </a>
                        <ul class="dropdown-menu maxus-location__list">
                            <li>
                                <a href="#">
                                    <span>USA</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>EUR</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>VND</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-globes"></i>
                            <span>English</span>
                        </a>
                        <ul class="dropdown-menu maxus-globes__list">
                            <li>
                                <a href="#">
                                    <span>English</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>France</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Vietnam</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="text-right">
                        @if (Session["cust_name"] == null)
                        {
                        <div class="header-top__item">
                            <a href="@Url.Action("Register", "Landing")">
                                <i class="maxus maxus-user"></i>
                                <span>Log in/ Register</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="header-top__item">
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>@Session["cust_name"]</span>
                            </a>
                        </div>
                        }
                        <div class="header-top__item">
                            <div class="maxus-bags ml-0 mr-30">
                                <a href="#" data-toggle="dropdown">
                                    <span class="maxus-bags__quantity">@ViewBag.items</span>
                                    <i class="maxus maxus-shopping-bag"></i>
                                </a>

                                <ul class="dropdown-menu maxus-bags__list">
                                    <li>
                                        <div class="maxus-bags__wrap" data-init="scrollbar">
                                            @if (ViewBag.cartList == null)
                                            {
                                            <div class="maxus-bags__item clearfix">
                                                <p class="text-danger">There is no item.</p>
                                            </div>
                                            }
                                            else
                                            {
                                                foreach (CartItem item in ViewBag.cartList)
                                                {
                                                <div class="maxus-bags__item clearfix">
                                                    <div class="maxus-bags__img">
                                                        <a href="#">
                                                            <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                                        </a>
                                                    </div>
                                                    <div class="maxus-bags__info">
                                                        <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                                        <p class="maxus-bags__price">
                                                            <ins>
                                                                <span class="maxus-bags__amount">
                                                                    <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                                </span>
                                                            </ins>
                                                        </p>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </li>
                                    <li class="text-center">
                                        <div class="maxus-bags__total">
                                            <p class="maxus-bags__price">
                                                <label class="font-300">Total:</label>
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                                    </span>
                                                </ins>
                                            </p>
                                            <p>
                                                <a href="@Url.Action("view_cart","Landing",new { id=ViewBag.id})" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                                <a href="#" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--M E N U-->
    <div class="header-desktop">
        <nav class="navbar navbar--category navbar--category-search ">
            <div class="container">
                <div class="navbar__relative">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="navbar__item maxus-logo">
                                <a href="index.html">
                                    <h2 style="color:#0026ff; font-weight:bolder;">Exite</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-offset-6 col-md-4">
                            <div class="text-right">
                                <div class="navbar__item maxus-search-form">
                                    <form action="#">
                                        <input type="text" placeholder="I'm shopping for..." required>
                                        <button class="btn-search darkseagreen-color">
                                            <i class="maxus maxus-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar__category navbar__category--images">
                        <ul class="clearfix">
                            <li class="active">
                                <a href="#">
                                    <span>Categories</span>
                                </a>



                                <div class="navbar__sub-category-icon">
                                    <ul class="maxus-icon-wrapper clearfix">
                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-windown"></i></a>
                                            <h4 class="font-300"><a href="#">Home decor</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair"></i></a>
                                            <h4 class="font-300"><a href="#">Baby &amp; Kids</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-bottle"></i></a>
                                            <h4 class="font-300"><a href="#">Accessories</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-table"></i></a>
                                            <h4 class="font-300"><a href="#">Brands</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair-2"></i></a>
                                            <h4 class="font-300"><a href="#">Office</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting"></i></a>
                                            <h4 class="font-300"><a href="#">Lighting</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting-2"></i></a>
                                            <h4 class="font-300"><a href="#">Ideas &amp; Advice</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-shelving"></i></a>
                                            <h4 class="font-300"><a href="#">Shelving</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-coat-stand"></i></a>
                                            <h4 class="font-300"><a href="#">Coat stand</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-armchair"></i></a>
                                            <h4 class="font-300"><a href="#">Armchair</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-wardrobe"></i></a>
                                            <h4 class="font-300"><a href="#">Wardrobe</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lamp"></i></a>
                                            <h4 class="font-300"><a href="#">Lamp</a></h4>
                                        </li>
                                    </ul>
                                    <!-- .maxus-icon -->
                                </div>








                            </li>
                            <li>
                                @Html.ActionLink("Shop", "Shop", "Landing")
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("CheckOut", "view_cart", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("About", "About", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("Contact", "ContactUs", "Landing")
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <!-- SLIDER -->
    <section>
        <div class="mb-20">
            @*<div class="maxus-slider">
                    <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
                    <div id="rev_slider" class="rev_slider" data-version="5.1.1RC" data-slider-layout="fullwidth" data-full-screen-offset="70" data-arrows="true" data-style="zeus">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/6.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/16.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>

                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/7.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/22.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>
                        </ul>
                    </div>
                </div>*@

        </div>
    </section>



    <div class="header-mobile">
        <nav class="navbar-mobile clearfix" data-spy="affix" data-offset-top="1">

            <div class="navbar-mobile__item">

                <!-- LOGO -->
                <div class="navbar-mobile__logo">
                    <a href="index.html"><h2 style="color:#0026ff; font-weight:bolder;">ExiteOnlineShop</h2></a>
                </div>
            </div>

            <div class="navbar-mobile__item text-right">

                <!-- SEARCH BUTTON -->
                <div class="navbar-mobile__search">
                    <a href="#search-full" data-init="toggleBox" data-togglebox-type="search">
                        <i class="maxus maxus-search"></i>
                    </a>
                </div>

                <!-- SHOPPING BAG -->
                <div class="navbar-mobile__cart maxus-bags">
                    <a href="#" data-toggle="dropdown">
                        <span class="maxus-bags__quantity">@ViewBag.items</span>
                        <i class="maxus maxus-shopping-bag"></i>
                    </a>

                    <ul class="dropdown-menu maxus-bags__list">
                        <li>
                            <div class="maxus-bags__wrap" data-init="scrollbar">
                                @if (ViewBag.cartList == null)
                                {
                                <div class="maxus-bags__item clearfix">
                                    <p class="text-danger">There is no item.</p>
                                </div>
                                }
                                else
                                {
                                    foreach (CartItem item in ViewBag.cartList)
                                    {
                                    <div class="maxus-bags__item clearfix">
                                        <div class="maxus-bags__img">
                                            <a href="#">
                                                <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                            </a>
                                        </div>
                                        <div class="maxus-bags__info">
                                            <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                            <p class="maxus-bags__price">
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                    </span>
                                                </ins>
                                            </p>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="maxus-bags__total">
                                <p class="maxus-bags__price">
                                    <label class="font-300">Total:</label>
                                    <ins>
                                        <span class="maxus-bags__amount">
                                            <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                        </span>
                                    </ins>
                                </p>
                                <p>
                                    <a href="shop-cart-1.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                    <a href="shop-checkout.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- PROFILE -->
                <div class="navbar-mobile__profile maxus-profile">
                    <a href="#" data-toggle="dropdown">
                        <i class="maxus maxus-user"></i>
                    </a>

                    <ul class="dropdown-menu maxus-profile__list">
                        <li>
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-wishlist.html">
                                <i class="maxus maxus-wishlist"></i>
                                <span>Favorites</span>
                                <span class="maxus-wishlist-quantity">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-my-account.html">
                                <i class="maxus maxus-package"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-settings"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-power"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- MENU BUTTON -->
                <div class="navbar-mobile__control">
                    <a href="#sidr-menu" class="navbar-mobile__buton-menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>

            <!-- BOX NAVBAR MOBILE CONTROLS -->
            <div id="navbar-main" class="hidden">
                <header>
                    <span class="title-menu">Menu</span>
                    <a href="#sidr-menu" class="close-menu">&times;</a>
                </header>










                <ul class="clearfix">





                    <li>
                        <a href="index.html">



                            <span>Home</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="index-2.html">Home 2</a>
                                </li>



                                <li>
                                    <a href="index-3_1.html">Home 3 - Categories Image</a>
                                </li>



                                <li>
                                    <a href="index-3_2.html">Home 3 - Categories Icon</a>
                                </li>



                                <li>
                                    <a href="index-4.html">Home 4</a>
                                </li>



                                <li>
                                    <a href="index-5.html">Home 5</a>
                                </li>



                                <li>
                                    <a href="index-6.html">Home 6</a>
                                </li>



                                <li>
                                    <a href="index-7.html">Home 7</a>
                                </li>



                                <li>
                                    <a href="index-8.html">Home 8</a>
                                </li>



                                <li>
                                    <a href="index-9.html">Home 9</a>
                                </li>



                                <li>
                                    <a href="index-10.html">Home 10</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Shop</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="shop-grid.html">Shop Grid</a>
                                </li>



                                <li>
                                    <a href="shop-list.html">Shop List</a>
                                </li>



                                <li>
                                    <a href="shop-grid-2-column.html">Shop Grid 2 Column</a>
                                </li>



                                <li>
                                    <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                </li>



                                <li>
                                    <a href="shop-fulltech.html">Shop Tech</a>
                                </li>



                                <li>
                                    <a href="shop-fullfashion.html">Shop Fashion</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech.html">Shop Detail Tech</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech-2.html">Shop Detail Tech 2</a>
                                </li>



                                <li>
                                    <a href="shop-detail-decor.html">Shop Detail Decor</a>
                                </li>



                                <li>
                                    <a href="shop-detail-fashion.html">Shop Detail Fashion</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="shop-fulltech.html">



                            <span>Categories</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="#">Laptop</a>
                                </li>



                                <li>
                                    <a href="#">Smartphones</a>
                                </li>



                                <li>
                                    <a href="#">Headphones</a>
                                </li>



                                <li>
                                    <a href="#">Speakers</a>
                                </li>



                                <li>
                                    <a href="#">Mouse & Keyboards</a>
                                </li>



                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">



                            <span class="menu__label">HOT</span>



                            <span>Sale off</span>
                        </a>
                    </li>







                    <li>
                        <a href="collection.html">



                            <span>Collection</span>
                        </a>
                    </li>







                    <li>
                        <a href="about.html">



                            <span>About</span>
                        </a>
                    </li>







                    <li>
                        <a href="#">



                            <span>Pages</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="compare.html">Compare</a>
                                </li>



                                <li>
                                    <a href="404.html">Error 404</a>
                                </li>



                                <li>
                                    <a href="shop-account.html">Shop Account</a>
                                </li>



                                <li>
                                    <a href="shop-my-account.html">Shop My Account</a>
                                </li>



                                <li>
                                    <a href="shop-billing-detail.html">Shop Billing Detail</a>
                                </li>



                                <li>
                                    <a href="shop-wishlist.html">Shop Wishlist</a>
                                </li>



                                <li>
                                    <a href="shop-cart-1.html">Shopping Cart 1</a>
                                </li>



                                <li>
                                    <a href="shop-cart-2.html">Shopping Cart 2</a>
                                </li>



                                <li>
                                    <a href="testimonials.html">Testimonials</a>
                                </li>



                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Blog</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="news-1.html">Blog style 1</a>
                                </li>



                                <li>
                                    <a href="news-2.html">Blog style 2</a>
                                </li>



                                <li>
                                    <a href="news-single-1.html">Single</a>
                                </li>



                                <li>
                                    <a href="news-single-2.html">Single sidebar right</a>
                                </li>



                                <li>
                                    <a href="news-single-3.html">Single sidebar left</a>
                                </li>



                                <li>
                                    <a href="news-single-4.html">Single gallery</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="contact.html">



                            <span>Contact</span>
                        </a>
                    </li>





                </ul>


            </div>

        </nav>
    </div>






    <!-- PAGE TITLE -->
    <section>
        <div class="container">
            <div class="pt-65 pb-30">
                <div class="breadcrumbs">
                    <ul class="trail-items">
                        <li class="trail-item trail-begin">
                            <a href="index.html" title="Home">Home</a>
                        </li>


                        <li class="trail-item trail-end"><span>Contact</span></li>


                    </ul>
                </div>
                <!-- /.breadcrumbs -->

            </div>
        </div>
    </section>

    <!-- HEADING HIDDEN SEO -->
    <h1 class="sr-only">Maxus Store</h1>

    <!-- BOX TITLE -->
    <section>
        <div class="container">
            <div class="mb-50">
                <div class="maxus-titlebox">
                    <div class="text-center">
                        <h2 class="maxus-titlebox__title h1 font-300 fz-60">Contact</h2>
                        <h3 class="maxus-titlebox__meta text-uppercase h5  "></h3>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- GOOGLE MAP -->
    <section>
        <div class="maxus-google-map">
            <div id="map" data-lat="20.994691" data-lng="105.8287153" data-zoom="16" data-style="light-monochrome" style="height: 585px;" data-map-icon="http://localhost:3000/img/logo/logo_map.png">
                <div data-map="marker">
                    <div class="w-300">
                        <h2 class="h1">Maxus Store</h2>
                        <p>
                            <label>Address:</label>
                            <span>No. 14, Lane 69A, Hoang Van Thai Street, Hoang Mai District, Hanoi, Vietnam</span>
                        </p>
                        <p>
                            <label>Phone:</label>
                            <span>(043) xxx yyy</span>
                            <span>-</span>
                            <span>(+84) 975 xxx xxx</span>
                        </p>
                        <p>
                            <label>Website:</label>
                            <a href="#maxus-store.com">maxus-store.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section>
        <div class="maxus-contact maxus-contact--border-line">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="maxus-contact__title font-300">Contact info</h3>

                        <div class="maxus-contact-info">
                            <div class="clearfix">
                                <div class="maxus-contact-info__item">
                                    <p class="maxus-contact-info__icon"><i class="maxus maxus-map-marker"></i></p>
                                    <h5 class="text-uppercase">Address</h5>
                                    <p class="maxus-contact-info__desc">42 Avenue Des Champs Elysees 75000 Paris France</p>
                                </div>

                                <div class="maxus-contact-info__item">
                                    <p class="maxus-contact-info__icon"><i class="maxus maxus-phone"></i></p>
                                    <h5 class="text-uppercase">Phone</h5>
                                    <p class="maxus-contact-info__desc">
                                        <span>+ 0188 - 021 - 088</span><br />
                                        <span>+ 0188 - 021 - 088</span>
                                    </p>
                                </div>

                                <div class="maxus-contact-info__item">
                                    <p class="maxus-contact-info__icon"><i class="maxus maxus-email"></i></p>
                                    <h5 class="text-uppercase">Email</h5>
                                    <p class="maxus-contact-info__desc">
                                        <a href="mailto:Sales@beautheme.com" target="_blank">Sales@beautheme.com</a>
                                    </p>
                                </div>

                                <div class="maxus-contact-info__item">
                                    <p class="maxus-contact-info__icon"><i class="maxus maxus-clock"></i></p>
                                    <h5 class="text-uppercase">Working hour</h5>
                                    <p class="maxus-contact-info__desc">
                                        <span>Monday - Friday : 8am- 8pm</span><br />
                                        <span>Saturday 9am- 1pm</span>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <h3 class="maxus-contact__title font-300">Write to Us</h3>

                        <div class="maxus-contact-write">
                            <form action="#" method="post">
                                <div class="maxus-contact-write__form">
                                    <div class="clearfix">
                                        <div class="maxus-contact-write__item">
                                            <label>
                                                <span class="maxus-contact-write__title">First Name</span>
                                                <input type="text" required>
                                            </label>
                                        </div>
                                        <div class="maxus-contact-write__item">
                                            <label>
                                                <span class="maxus-contact-write__title">Last Name</span>
                                                <input type="text" required>
                                            </label>
                                        </div>
                                        <div class="maxus-contact-write__item maxus-contact-write__item--block">
                                            <label>
                                                <span class="maxus-contact-write__title">Email</span>
                                                <input type="email" required>
                                            </label>
                                        </div>
                                        <div class="maxus-contact-write__item maxus-contact-write__item--block">
                                            <label>
                                                <span class="maxus-contact-write__title">Message</span>
                                                <textarea rows="7" required></textarea>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="maxus-contact-write__action">
                                    <button class="btn btn-maxus btn-rounded btn-primary">Send Message</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>

    <!-- NEWSLETTER -->
    <section>
        <div class="mb-50">
            <div class="maxus-newsletter maxus-newsletter--left">
                <div class="container">
                    <div class="maxus-newsletter__wrap" data-init="parallax" data-parallax-image="img-demo/newsletter/1.jpg">
                        <div class="row">
                            <div class="col-md-5 col-md-offset-1">
                                <div class="maxus-newsletter__content text-left">
                                    <div>
                                        <h2 class="maxus-newsletter__title ">Newsletter</h2>
                                        <p class="maxus-newsletter__meta mb-10">Looking cautiously round, to ascertain that they were not overheard.</p>
                                    </div>
                                    <form action="#">
                                        <div class="form-group">
                                            <p>
                                                <span class="maxus-newsletter__icon"><i class="fa fa-envelope-o"></i></span>
                                                <input type="email" placeholder="E-mail" required>
                                            </p>
                                            <button class="btn btn-maxus btn-waves btn-rounded">
                                                <span>Submit</span>
                                                <i class="maxus maxus-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

