﻿@model Inspinia_MVC5.Models.Product
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!-- QUICKVIEW -->
<div id="maxus-quickview" class="maxus-quickview white-popup">
    <div class="maxus-quickview__container">
        <div class="maxus-quickview__content">
            <div class="maxus-quickview__body">
                <div class="maxus-productdetail">
                    <div class="maxus-productdetail__header">
                        <div class="clearfix">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="maxus-productdetail__preview maxus-slick-arrows-rounded">
                                        <div id="product-big" class="maxus-productdetail__big-image" data-init="slick" data-arrows="false" data-dots="false" data-autoplay="false" data-as-nav-for="#product-thumbnail">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                            <img src="@Url.Content(Model.prod_image)" alt="Big image">
                                        </div>
                                        <!-- /.maxus-productdetail__big-image -->

                                        <div id="product-thumbnail" class="maxus-productdetail__thumbnail-image" data-init="slick" data-fade="false" data-arrows="false" data-dots="false" data-autoplay="false" data-focus-on-select="true" data-infinite="true" data-as-nav-for="#product-big" data-breakpoints='{"lg": 6, "md": 4, "sm": 2, "ss": 2, "xs": 1}'>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                            <div class="maxus-productdetail__thumbnail-item">
                                                <a href="#">
                                                    <img src="@Url.Content(Model.prod_image)" alt="Thumbnail image">
                                                </a>
                                            </div>
                                        </div>
                                        <!-- /.maxus-productdetail__thumbnail-image -->
                                    </div>
                                    <!-- /.maxus-productdetail__preview -->
                                </div>
                                <div class="col-md-5">
                                    <div class="maxus-productdetail__summary">
                                        <h1 class="maxus-productdetail__name font-300">@Model.prod_name</h1>
                                        <div class="clearfix">
                                            <p class="maxus-productdetail__price pull-left">
                                                <ins class="font-600">
                                                    <span class="maxus-product__amount">
                                                        <span class="maxus-product__symbol">$</span>@Model.prod_price
                                                    </span>
                                                </ins>
                                            </p>
                                            <p class="maxus-productdetail__rating pull-left">
                                                <span class="star-rating" title="Rated 4 and above">
                                                    <span style="width:80%"></span>
                                                </span>
                                            </p>
                                            <p class="maxus-productdetail__shipping text-uppercase pull-left fz-12">Free shipping</p>
                                        </div>
                                        <div class="maxus-productdetail__desc">
                                            <p>These workout headphones are crafted to keep up with your active routine. The no-slip design of the call answer button ensures phone calls won't be missed, and music can be easily cycled through.</p>
                                            <p>
                                                @Model.prod_des
                                            </p>
                                        </div>
                                        <div class="clearfix mb-50">
                                            <div class="maxus-productdetail__options pull-left">
                                                <p class="text-uppercase">Colour</p>
                                                <div class="maxus-color btn btn-maxus btn-rounded btn-primary btn-outline" data-style="round">
                                                    <label class="danger-maxus-color">
                                                        <input type="radio" name="style-1" checked="checked">
                                                        <span>Hex: #000000</span>
                                                    </label>
                                                    <label class="facebook-maxus-color">
                                                        <input type="radio" name="style-1">
                                                        <span>Hex: #000000</span>
                                                    </label>
                                                    <label class="twitter-maxus-color">
                                                        <input type="radio" name="style-1">
                                                        <span>Hex: #000000</span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="maxus-productdetail__options pull-left">
                                                <p class="text-uppercase">Quantity</p>
                                                <div class="maxus-quantity btn btn-maxus btn-rounded btn-primary btn-outline">
                                                    <input type="number" id="spinner" name="quantity" value="0">
                                                </div>
                                            </div>
                                            <div class="maxus-productdetail__options pull-left">
                                                <p class="text-uppercase">On sale</p>
                                                <p class="maxus-productdetail__sale">
                                                    <span class="maxus-product__amount">
                                                        SAVE <span class="maxus-product__symbol">$</span>120 (Reg. <span class="maxus-product__symbol">$</span>199.99)
                                                    </span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="maxus-productdetail__action">
                                            <p>Next Day Delivery or Standard delivery in 2-4 days.</p>
                                            <div class="clearfix">
                                                <button class="btn btn-maxus btn-waves btn-rounded darkseagreen-color mb-20" onclick="test()">
                                                    <i class="maxus maxus-shopping-bag"></i>
                                                    <span>Add to cart</span>
                                                </button>
                                                <a href="#wishlist" class="btn btn-maxus btn-rounded btn-outline darkseagreen-color mb-20">
                                                    <i class="maxus maxus-wishlist"></i>
                                                    <span>Add to wishlist</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /.maxus-productdetail__summary -->

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
