﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_landingLayout.cshtml";
}
@using Inspinia_MVC5.Models;
<div id="page" class="site">
    <div id="go_top"></div>
    <a class="skip-link sr-only" href="#main">Skip to content</a>



    <!-- HEADER 3_2 -->



    <div class="header-top no-border pd-20">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="header-top__item">
                        <a href="index.html">
                            <i class="maxus maxus-home"></i>
                            <span>Home</span>
                        </a>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-location-pin"></i>
                            <span>USA</span>
                        </a>
                        <ul class="dropdown-menu maxus-location__list">
                            <li>
                                <a href="#">
                                    <span>USA</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>EUR</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>VND</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="header-top__item">
                        <a href="#" data-toggle="dropdown">
                            <i class="maxus maxus-globes"></i>
                            <span>English</span>
                        </a>
                        <ul class="dropdown-menu maxus-globes__list">
                            <li>
                                <a href="#">
                                    <span>English</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>France</span>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <span>Vietnam</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="text-right">
                        @if (Session["cust_name"] == null)
                        {
                        <div class="header-top__item">
                            <a href="@Url.Action("Register", "Landing")">
                                <i class="maxus maxus-user"></i>
                                <span>Log in/ Register</span>
                            </a>
                        </div>
                        }
                        else
                        {
                        <div class="header-top__item">
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>@Session["cust_name"]</span>
                            </a>
                        </div>
                        }
                        <div class="header-top__item">
                            <div class="maxus-bags ml-0 mr-30">
                                <a href="#" data-toggle="dropdown">
                                    <span class="maxus-bags__quantity">@ViewBag.items</span>
                                    <i class="maxus maxus-shopping-bag"></i>
                                </a>

                                <ul class="dropdown-menu maxus-bags__list">
                                    <li>
                                        <div class="maxus-bags__wrap" data-init="scrollbar">
                                            @if (ViewBag.cartList == null)
                                            {
                                            <div class="maxus-bags__item clearfix">
                                                <p class="text-danger">There is no item.</p>
                                            </div>
                                            }
                                            else
                                            {
                                                foreach (CartItem item in ViewBag.cartList)
                                                {
                                                <div class="maxus-bags__item clearfix">
                                                    <div class="maxus-bags__img">
                                                        <a href="#">
                                                            <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                                        </a>
                                                    </div>
                                                    <div class="maxus-bags__info">
                                                        <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                                        <p class="maxus-bags__price">
                                                            <ins>
                                                                <span class="maxus-bags__amount">
                                                                    <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                                </span>
                                                            </ins>
                                                        </p>
                                                    </div>
                                                </div>
                                                }
                                            }
                                        </div>
                                    </li>
                                    <li class="text-center">
                                        <div class="maxus-bags__total">
                                            <p class="maxus-bags__price">
                                                <label class="font-300">Total:</label>
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                                    </span>
                                                </ins>
                                            </p>
                                            <p>
                                                <a href="@Url.Action("view_cart","Landing",new { id=ViewBag.id})" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                                <a href="#" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                            </p>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--M E N U-->
    <div class="header-desktop">
        <nav class="navbar navbar--category navbar--category-search ">
            <div class="container">
                <div class="navbar__relative">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="navbar__item maxus-logo">
                                <a href="index.html">
                                    <h2 style="color:#0026ff; font-weight:bolder;">Exite</h2>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-offset-6 col-md-4">
                            <div class="text-right">
                                <div class="navbar__item maxus-search-form">
                                    <form action="#">
                                        <input type="text" placeholder="I'm shopping for..." required>
                                        <button class="btn-search darkseagreen-color">
                                            <i class="maxus maxus-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar__category navbar__category--images">
                        <ul class="clearfix">
                            <li class="active">
                                <a href="#">
                                    <span>Categories</span>
                                </a>



                                <div class="navbar__sub-category-icon">
                                    <ul class="maxus-icon-wrapper clearfix">
                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-windown"></i></a>
                                            <h4 class="font-300"><a href="#">Home decor</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair"></i></a>
                                            <h4 class="font-300"><a href="#">Baby &amp; Kids</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-bottle"></i></a>
                                            <h4 class="font-300"><a href="#">Accessories</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-table"></i></a>
                                            <h4 class="font-300"><a href="#">Brands</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-chair-2"></i></a>
                                            <h4 class="font-300"><a href="#">Office</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting"></i></a>
                                            <h4 class="font-300"><a href="#">Lighting</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lighting-2"></i></a>
                                            <h4 class="font-300"><a href="#">Ideas &amp; Advice</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-shelving"></i></a>
                                            <h4 class="font-300"><a href="#">Shelving</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-coat-stand"></i></a>
                                            <h4 class="font-300"><a href="#">Coat stand</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-armchair"></i></a>
                                            <h4 class="font-300"><a href="#">Armchair</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-wardrobe"></i></a>
                                            <h4 class="font-300"><a href="#">Wardrobe</a></h4>
                                        </li>

                                        <li class="maxus-icon text-center">
                                            <a href="#"><i class="maxus maxus-lamp"></i></a>
                                            <h4 class="font-300"><a href="#">Lamp</a></h4>
                                        </li>
                                    </ul>
                                    <!-- .maxus-icon -->
                                </div>








                            </li>
                            <li>
                                @Html.ActionLink("Shop", "Shop", "Landing")
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("CheckOut", "view_cart", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("About", "About", "Landing")
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    @Html.ActionLink("Contact", "ContactUs", "Landing")
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </nav>
    </div>
    <!-- SLIDER -->
    <section>
        <div class="mb-20">
            @*<div class="maxus-slider">
                    <!-- START REVOLUTION SLIDER 5.1.1RC fullscreen mode -->
                    <div id="rev_slider" class="rev_slider" data-version="5.1.1RC" data-slider-layout="fullwidth" data-full-screen-offset="70" data-arrows="true" data-style="zeus">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/6.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/16.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>

                            <!-- SLIDE  -->
                            <li data-transition="random" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/Content/Shop/img-demo/sliders/7.jpg" data-rotate="0" data-saveperformance="off" data-title="" data-description="">

                                <!-- MAIN IMAGE -->
                                <img src="~/Content/Shop/img-demo/sliders/22.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg">

                            </li>
                        </ul>
                    </div>
                </div>*@

        </div>
    </section>



    <div class="header-mobile">
        <nav class="navbar-mobile clearfix" data-spy="affix" data-offset-top="1">

            <div class="navbar-mobile__item">

                <!-- LOGO -->
                <div class="navbar-mobile__logo">
                    <a href="index.html"><h2 style="color:#0026ff; font-weight:bolder;">ExiteOnlineShop</h2></a>
                </div>
            </div>

            <div class="navbar-mobile__item text-right">

                <!-- SEARCH BUTTON -->
                <div class="navbar-mobile__search">
                    <a href="#search-full" data-init="toggleBox" data-togglebox-type="search">
                        <i class="maxus maxus-search"></i>
                    </a>
                </div>

                <!-- SHOPPING BAG -->
                <div class="navbar-mobile__cart maxus-bags">
                    <a href="#" data-toggle="dropdown">
                        <span class="maxus-bags__quantity">@ViewBag.items</span>
                        <i class="maxus maxus-shopping-bag"></i>
                    </a>

                    <ul class="dropdown-menu maxus-bags__list">
                        <li>
                            <div class="maxus-bags__wrap" data-init="scrollbar">
                                @if (ViewBag.cartList == null)
                                {
                                <div class="maxus-bags__item clearfix">
                                    <p class="text-danger">There is no item.</p>
                                </div>
                                }
                                else
                                {
                                    foreach (CartItem item in ViewBag.cartList)
                                    {
                                    <div class="maxus-bags__item clearfix">
                                        <div class="maxus-bags__img">
                                            <a href="#">
                                                <img src="@Url.Content(item.prod_image)" alt="Product bag image">
                                            </a>
                                        </div>
                                        <div class="maxus-bags__info">
                                            <h2 class="maxus-bags__title font-300 h5"><a href="#">@item.Product.prod_name</a></h2>
                                            <p class="maxus-bags__price">
                                                <ins>
                                                    <span class="maxus-bags__amount">
                                                        <span class="maxus-bags__symbol">$</span>@item.prod_price
                                                    </span>
                                                </ins>
                                            </p>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="maxus-bags__total">
                                <p class="maxus-bags__price">
                                    <label class="font-300">Total:</label>
                                    <ins>
                                        <span class="maxus-bags__amount">
                                            <span class="maxus-bags__symbol">$</span>@ViewBag.total
                                        </span>
                                    </ins>
                                </p>
                                <p>
                                    <a href="shop-cart-1.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-outline btn-default">View cart</a>
                                    <a href="shop-checkout.html" class="btn btn-maxus btn-waves btn-sm btn-rounded btn-primary">Checkout</a>
                                </p>
                            </div>
                        </li>
                    </ul>

                </div>

                <!-- PROFILE -->
                <div class="navbar-mobile__profile maxus-profile">
                    <a href="#" data-toggle="dropdown">
                        <i class="maxus maxus-user"></i>
                    </a>

                    <ul class="dropdown-menu maxus-profile__list">
                        <li>
                            <a href="#">
                                <i class="maxus maxus-user"></i>
                                <span>Profile</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-wishlist.html">
                                <i class="maxus maxus-wishlist"></i>
                                <span>Favorites</span>
                                <span class="maxus-wishlist-quantity">2</span>
                            </a>
                        </li>
                        <li>
                            <a href="shop-my-account.html">
                                <i class="maxus maxus-package"></i>
                                <span>Orders</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-settings"></i>
                                <span>Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="maxus maxus-power"></i>
                                <span>Log out</span>
                            </a>
                        </li>
                    </ul>

                </div>

                <!-- MENU BUTTON -->
                <div class="navbar-mobile__control">
                    <a href="#sidr-menu" class="navbar-mobile__buton-menu">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
            </div>

            <!-- BOX NAVBAR MOBILE CONTROLS -->
            <div id="navbar-main" class="hidden">
                <header>
                    <span class="title-menu">Menu</span>
                    <a href="#sidr-menu" class="close-menu">&times;</a>
                </header>










                <ul class="clearfix">





                    <li>
                        <a href="index.html">



                            <span>Home</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="index-2.html">Home 2</a>
                                </li>



                                <li>
                                    <a href="index-3_1.html">Home 3 - Categories Image</a>
                                </li>



                                <li>
                                    <a href="index-3_2.html">Home 3 - Categories Icon</a>
                                </li>



                                <li>
                                    <a href="index-4.html">Home 4</a>
                                </li>



                                <li>
                                    <a href="index-5.html">Home 5</a>
                                </li>



                                <li>
                                    <a href="index-6.html">Home 6</a>
                                </li>



                                <li>
                                    <a href="index-7.html">Home 7</a>
                                </li>



                                <li>
                                    <a href="index-8.html">Home 8</a>
                                </li>



                                <li>
                                    <a href="index-9.html">Home 9</a>
                                </li>



                                <li>
                                    <a href="index-10.html">Home 10</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Shop</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="shop-grid.html">Shop Grid</a>
                                </li>



                                <li>
                                    <a href="shop-list.html">Shop List</a>
                                </li>



                                <li>
                                    <a href="shop-grid-2-column.html">Shop Grid 2 Column</a>
                                </li>



                                <li>
                                    <a href="shop-grid-4-column.html">Shop Grid 4 Column</a>
                                </li>



                                <li>
                                    <a href="shop-fulltech.html">Shop Tech</a>
                                </li>



                                <li>
                                    <a href="shop-fullfashion.html">Shop Fashion</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech.html">Shop Detail Tech</a>
                                </li>



                                <li>
                                    <a href="shop-detail-tech-2.html">Shop Detail Tech 2</a>
                                </li>



                                <li>
                                    <a href="shop-detail-decor.html">Shop Detail Decor</a>
                                </li>



                                <li>
                                    <a href="shop-detail-fashion.html">Shop Detail Fashion</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="shop-fulltech.html">



                            <span>Categories</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="#">Laptop</a>
                                </li>



                                <li>
                                    <a href="#">Smartphones</a>
                                </li>



                                <li>
                                    <a href="#">Headphones</a>
                                </li>



                                <li>
                                    <a href="#">Speakers</a>
                                </li>



                                <li>
                                    <a href="#">Mouse & Keyboards</a>
                                </li>



                            </ul>
                        </div>
                    </li>

                    <li>
                        <a href="#">



                            <span class="menu__label">HOT</span>



                            <span>Sale off</span>
                        </a>
                    </li>







                    <li>
                        <a href="collection.html">



                            <span>Collection</span>
                        </a>
                    </li>







                    <li>
                        <a href="about.html">



                            <span>About</span>
                        </a>
                    </li>







                    <li>
                        <a href="#">



                            <span>Pages</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="compare.html">Compare</a>
                                </li>



                                <li>
                                    <a href="404.html">Error 404</a>
                                </li>



                                <li>
                                    <a href="shop-account.html">Shop Account</a>
                                </li>



                                <li>
                                    <a href="shop-my-account.html">Shop My Account</a>
                                </li>



                                <li>
                                    <a href="shop-billing-detail.html">Shop Billing Detail</a>
                                </li>



                                <li>
                                    <a href="shop-wishlist.html">Shop Wishlist</a>
                                </li>



                                <li>
                                    <a href="shop-cart-1.html">Shopping Cart 1</a>
                                </li>



                                <li>
                                    <a href="shop-cart-2.html">Shopping Cart 2</a>
                                </li>



                                <li>
                                    <a href="testimonials.html">Testimonials</a>
                                </li>



                                <li>
                                    <a href="typography.html">Typography</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="#">



                            <span>Blog</span>
                        </a>
                        <div class="sub-menu">
                            <ul class="text-left">



                                <li>
                                    <a href="news-1.html">Blog style 1</a>
                                </li>



                                <li>
                                    <a href="news-2.html">Blog style 2</a>
                                </li>



                                <li>
                                    <a href="news-single-1.html">Single</a>
                                </li>



                                <li>
                                    <a href="news-single-2.html">Single sidebar right</a>
                                </li>



                                <li>
                                    <a href="news-single-3.html">Single sidebar left</a>
                                </li>



                                <li>
                                    <a href="news-single-4.html">Single gallery</a>
                                </li>



                            </ul>
                        </div>
                    </li>







                    <li>
                        <a href="contact.html">



                            <span>Contact</span>
                        </a>
                    </li>





                </ul>


            </div>

        </nav>
    </div>






    <!-- PAGE TITLE -->
    <section>
        <div class="maxus-page-title bg-3">
            <div class="container">
                <div class="maxus-page-title__main ">

                    <div class="breadcrumbs">
                        <ul class="trail-items">
                            <li class="trail-item trail-begin">
                                <a href="index.html" title="Home">Home</a>
                            </li>


                            <li class="trail-item trail-end"><span>Categories full</span></li>


                        </ul>
                    </div>
                    <!-- /.breadcrumbs -->




                    <h1 class="maxus-page-title__info font-3rd font-300  mb-0">Categories full</h1>



                </div>
                <!-- /.maxus-page-title__main -->
            </div>
        </div>
        <!-- /.maxus-page-title -->

    </section>

    <!-- SEARCH & COMPARE -->
    <section>
        <div class="border-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="maxus-search-product">
                            <form action="#" method="post" class="maxus-search-product__form">
                                <input type="search" placeholder="Search within:" required>
                                <button class="btn-search">
                                    <i class="maxus maxus-search"></i>
                                </button>
                            </form>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="maxus-policy maxus-policy--small-style maxus-policy--border clearfix">
                            <div class="maxus-policy__item">
                                <a href="#">
                                    <p class="maxus-policy__icon"><i class="maxus maxus-free-shipping"></i></p>
                                    <p class="maxus-policy__name">Free Shipping</p>
                                </a>
                            </div>
                            <div class="maxus-policy__item">
                                <a href="#">
                                    <p class="maxus-policy__icon"><i class="maxus maxus-payment"></i></p>
                                    <p class="maxus-policy__name">Easy Payment</p>
                                </a>
                            </div>
                            <div class="maxus-policy__item">
                                <a href="#">
                                    <p class="maxus-policy__icon"><i class="maxus maxus-gift-card"></i></p>
                                    <p class="maxus-policy__name">Gift card</p>
                                </a>
                            </div>
                            <div class="maxus-policy__item">
                                <a href="#">
                                    <p class="maxus-policy__icon"><i class="maxus maxus-guarantee"></i></p>
                                    <p class="maxus-policy__name">100% Guarantee</p>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FILTERS & SOFT -->
    <section>
        <div class="container">
            <div class="pt-50 pb-40">
                <div class="maxus-filter-sorting">
                    <div class="clearfix">
                        <div class="maxus-filter-sorting__item">
                            <div class="maxus-filter-sorting__wrap">
                                <span class="btn btn-maxus btn-rounded btn-outline btn-sm btn-primary btn-hover">
                                    <i class="maxus maxus-sliders"></i>
                                    <span>Filters</span>
                                </span>
                            </div>
                        </div>



                        <div class="maxus-filter-sorting__item">
                            <div class="maxus-filter-sorting__wrap">
                                <span class="btn btn-maxus btn-rounded btn-outline btn-sm danger-color" data-toggle="dropdown">
                                    <span>Colors</span>
                                    <i class="maxus maxus-arrow-sort"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>





                        <div class="maxus-filter-sorting__item">
                            <div class="maxus-filter-sorting__wrap">
                                <span class="btn btn-maxus btn-rounded btn-sm bluewhite-color" data-toggle="dropdown">
                                    <span>Size</span>
                                    <i class="maxus maxus-arrow-sort-down"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>





                        <div class="maxus-filter-sorting__item">
                            <label class="font-300">Sort by :</label>
                            <div class="maxus-filter-sorting__wrap">
                                <span class="btn btn-maxus btn-rounded btn-outline btn-sm btn-primary" data-toggle="dropdown">
                                    <span>Featured items</span>
                                    <i class="maxus maxus-arrow-sort"></i>
                                </span>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </div>
                        </div>



                        <div class="maxus-filter-sorting__item pull-right">
                            <label class="font-300">Showing 1-10 of 115 Products</label>



                            <a href="shop-fulltech.html" class="maxus-filter-sorting__view active"><i class="maxus maxus-grid-4-col"></i></a>
                            <a href="shop-grid.html" class="maxus-filter-sorting__view"><i class="maxus maxus-grid-2-col"></i></a>
                            <a href="shop-list.html" class="maxus-filter-sorting__view"><i class="maxus maxus-list"></i></a>






                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PRODUCTS -->
    <section>
        <div class="container">
            <div class="mb-50">
                <ul class="products row">



























































                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/1.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>52.0
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>30.0
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/2.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>18.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/3.png" alt="Printed T-Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Printed T-Shirt">
                                <a href="shop-detail-fashion.html">Printed T-Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>14.27
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/4.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>25.16
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/5.png" alt="Checked Flannel Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Checked Flannel Shirt">
                                <a href="shop-detail-fashion.html">Checked Flannel Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>89.99
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>49.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/6.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>429.0
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>129.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/7.png" alt="ZeroTouch">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="ZeroTouch">
                                <a href="shop-detail-fashion.html">ZeroTouch</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>119.9
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/8.png" alt="Bag System Z906">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Bag System Z906">
                                <a href="shop-detail-fashion.html">Bag System Z906</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>30.9
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left colw2 " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/9.png" alt="Basic Messenger Bag">

                            </div>
                            <h2 class="maxus-product__name h3 font-300 fz-30" title="Basic Messenger Bag">
                                <a href="shop-detail-fashion.html">Basic Messenger Bag</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>62.25
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>29.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left colw2 " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/10.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300 fz-30" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>62.5
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>30.0
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/11.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>35.22
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>18.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/12.png" alt="Printed T-Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Printed T-Shirt">
                                <a href="shop-detail-fashion.html">Printed T-Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/13.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/14.png" alt="Checked Flannel Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Checked Flannel Shirt">
                                <a href="shop-detail-fashion.html">Checked Flannel Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>49.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/15.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>213.26
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>129.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/16.png" alt="ZeroTouch">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="ZeroTouch">
                                <a href="shop-detail-fashion.html">ZeroTouch</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>351.99
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>119.9
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/17.png" alt="Bag System Z906">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Bag System Z906">
                                <a href="shop-detail-fashion.html">Bag System Z906</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>30.9
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/18.png" alt="Basic Messenger Bag">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Basic Messenger Bag">
                                <a href="shop-detail-fashion.html">Basic Messenger Bag</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>29.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left colw2 " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/19.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300 fz-30" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>80.99
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>30.0
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left colw2 " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/20.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300 fz-30" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <del>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>56.99
                                    </span>
                                </del>

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>18.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/21.png" alt="Printed T-Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Printed T-Shirt">
                                <a href="shop-detail-fashion.html">Printed T-Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/22.png" alt="Pile-Lined Hooded Jacket">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Pile-Lined Hooded Jacket">
                                <a href="shop-detail-fashion.html">Pile-Lined Hooded Jacket</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>10.25
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/23.png" alt="Checked Flannel Shirt">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Checked Flannel Shirt">
                                <a href="shop-detail-fashion.html">Checked Flannel Shirt</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>49.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>





                    <li class="product pull-left  " data-cols="3">
                        <div class="maxus-product__item bluewhite-product-color" data-style="background">



                            <div class="maxus-product__image">





                                <img src="img-demo/products/fashion/24.png" alt="Combined Sneakers">

                            </div>
                            <h2 class="maxus-product__name h3 font-300" title="Combined Sneakers">
                                <a href="shop-detail-fashion.html">Combined Sneakers</a>
                            </h2>
                            <p class="maxus-product__price">

                                <ins>
                                    <span class="maxus-product__amount">
                                        <span class="maxus-product__symbol">$</span>129.99
                                    </span>
                                </ins>
                            </p>
                            <div class="maxus-product__info">
                                <div class="maxus-product__wrap">
                                    <p class="maxus-product__controls text-center">
                                        <a href="#" class="maxus-product__wishlist" data-toggle="tooltip" data-placement="top" data-original-title="Wishlist"><i class="maxus maxus-wishlist"></i></a>
                                        <a href="shop-quickview.html" class="maxus-product__quick-view" data-toggle="tooltip" data-placement="top" data-original-title="Quickview"><i class="maxus maxus-eye"></i></a>
                                    </p>
                                    <p>
                                        <button class="btn btn-maxus btn-rounded btn-default">
                                            <span>Add to card</span>
                                        </button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </li>



























                </ul>

            </div>
        </div>

        <div class="text-center border-top">
            <ul class="pagination font-700">
                <li class="pagination-button border-right"><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="active"><a href="#">5</a></li>
                <li><a href="#">6</a></li>
                <li><a href="#">7</a></li>
                <li><a href="#">8</a></li>
                <li><a href="#">9</a></li>
                <li class="pagination-button border-left"><a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </section>

    <!-- FEATURES -->
    <section>
        <div class="mb-30">
            <div class="container">
                <div class="maxus-banner clearfix">
                    <span class="maxus-overlay banner-warning-color"></span>
                    <img src="img-demo/banner/1.png" alt="Banner image">
                    <a href="#" class="btn btn-maxus btn-rounded white-color">Sign up now</a>
                    <div class="maxus-banner__info">
                        <p class="fz-18 mb-0">Sign up your Email and get</p>
                        <p class="maxus-banner__title mb-0 ">10% Off for an entire year</p>
                    </div>
                </div>

            </div>
        </div>
    </section>
