﻿
@{
    ViewBag.Title = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display</h2>
@using Inspinia_MVC5.Models;
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product item in ViewBag.proList)
        {


<tr>
    <td>@item.prod_name</td>
    <td><img src="@Url.Content(item.prod_image)"/></td>
</tr>
        }
    </tbody>
</table>