﻿@model Inspinia_MVC5.Models.Product

@{
    ViewBag.Title = "editProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Inspinia_MVC5.Models;
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>editProduct</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>editProduct</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>



<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>editProduct Product</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm("editProduct","Product",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.prod_id)

        
            <div class="form-group">
                <label class="control-label col-md-2">Segment</label>
                <div class="col-md-10">
                    <select name="prod_segment" class="form-control">
                        <option disabled selected>Please select Segment</option>
                        @foreach (Segment item in ViewBag.segmentList)
                        {
                            <option value="@item.seg_id">@item.seg_name</option>

                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Category</label>
                <div class="col-md-10">
                    <select name="prod_category" class="form-control">
                        <option disabled selected>Please select Category</option>
                        @foreach (Category item in ViewBag.categoryList)
                        {
                            <option value="@item.cat_id">@item.cat_name</option>

                        }
                    </select>

                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">Sub Category</label>
                <div class="col-md-10">
                    <select name="scat_id" class="form-control">
                        <option disabled selected>Please select Sub Category</option>
                        @foreach (Sub_Category item in ViewBag.scat_id)
                        {
                            <option value="@item.scat_id">@item.scat_name</option>

                        }
                    </select>

                </div>
            </div>
        <div class="form-group">
            @Html.LabelFor(model => model.prod_name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_name)
                @Html.ValidationMessageFor(model => model.prod_name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_color, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_color)
                @Html.ValidationMessageFor(model => model.prod_color)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_size, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_size)
                @Html.ValidationMessageFor(model => model.prod_size)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_weight, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_weight)
                @Html.ValidationMessageFor(model => model.prod_weight)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_model, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_model)
                @Html.ValidationMessageFor(model => model.prod_model)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_sku, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_sku)
                @Html.ValidationMessageFor(model => model.prod_sku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_price)
                @Html.ValidationMessageFor(model => model.prod_price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_stock, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_stock)
                @Html.ValidationMessageFor(model => model.prod_stock)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_image, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="imageFile" id="imageFile" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.prod_des, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.prod_des)
                @Html.ValidationMessageFor(model => model.prod_des)
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Discount</label>
            <div class="col-md-9">
                <input type="text" name="prod_discount" class="form-control" />
            </div>
            <div class="col-md-1">
                <p class="text-warning"><strong> %</strong></p>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>


