﻿@model IEnumerable<Inspinia_MVC5.Models.Product>

@{
    ViewBag.Title = "listOfProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Inspinia_MVC5.Models;
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>listOfProduct</h2>
        <ol class="breadcrumb">
            <li class="active">
                <strong>Product</strong>
            </li>
        </ol>
    </div>
</div>


<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>List of Product</h5>
					<div class="ibox-tools">
						@Html.ActionLink("Create New", "Index", null, new { @class = "btn btn-primary btn-xs"})
					</div>
                </div>
                <div class="ibox-content">

<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prod_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_sku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_image)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_segment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prod_category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sub_Category.scat_name)
        </th>
        <th></th>
    </tr>

@foreach (Product item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prod_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_sku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_stock)
        </td>
        <td>
            <img src="@Url.Content(item.prod_image)" width="50" height="50"/>
        </td>
        <td>
            @item.prod_segment
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prod_category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sub_Category.scat_name)
        </td>
        <td>
            <a href="@Url.Action("editProduct", "Product", new { id=item.prod_id })"><span class="fa fa-pencil"></span></a> |
            <a href="@Url.Action("removeProduct", "Product", new { id=item.prod_id })"><span class="fa fa-trash"></span></a>
        </td>
    </tr>
}

</table>

                </div>
            </div>
        </div>
    </div>
 </div>



