﻿@model Inspinia_MVC5.Models.Order

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Edit</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Edit</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
			@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary"})
        </div>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Edit Order</h5>
                </div>
                <div class="ibox-content">

				@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ord_id)

        <div class="form-group">
            @Html.LabelFor(model => model.cust_id, "cust_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("cust_id", String.Empty)
                @Html.ValidationMessageFor(model => model.cust_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ord_number, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_number)
                @Html.ValidationMessageFor(model => model.ord_number)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ord_address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_address)
                @Html.ValidationMessageFor(model => model.ord_address)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ord_date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_date)
                @Html.ValidationMessageFor(model => model.ord_date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesTax, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesTax)
                @Html.ValidationMessageFor(model => model.SalesTax)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ord_status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ord_status)
                @Html.ValidationMessageFor(model => model.ord_status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.payment_id, "payment_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("payment_id", String.Empty)
                @Html.ValidationMessageFor(model => model.payment_id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
				@Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-white"})
            </div>
        </div>
    </div>
}


                </div>
            </div>
        </div>
    </div>
 </div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
