﻿@model Inspinia_MVC5.Models.Sub_Category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Details</h2>
        <ol class="breadcrumb">
            <li>
                @Html.ActionLink("List", "Index")
            </li>
            <li class="active">
                <strong>Details</strong>
            </li>
        </ol>
    </div>
</div>




<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Details Sub_Category</h5>
                </div>
                <div class="ibox-content">


				    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.scat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.scat_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.cat_name)
        </dd>

    </dl>


	    @Html.ActionLink("Edit", "Edit", new { id = Model.scat_id }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-white"})

                </div>
            </div>
        </div>
    </div>
 </div>













